<div mat-dialog-content>
  <div class="row">
    <div class="col-11">
      <mat-form-field [style.width.%]="50">
        <input type="text" matInput autocomplete="off" placeholder="Kodu" [(ngModel)]="data.CODE" [disabled]="data.INSPECT!">
      </mat-form-field>
      <br>
      <mat-form-field [style.width.%]="80">
        <input type="text" matInput autocomplete="off" placeholder="Açıklaması" [(ngModel)]="data.DESCRIPTION" [disabled]="data.INSPECT!">
      </mat-form-field>
      <br>
      <mat-form-field [style.width.%]="25">
        <input type="text" matInput autocomplete="off" placeholder="Özel Kod" [(ngModel)]="data.AUXIL_CODE" [disabled]="data.INSPECT!">
      </mat-form-field>
      &nbsp;
      <mat-form-field [style.width.%]="25">
        <input type="text" matInput autocomplete="off" placeholder="Yetki Kodu" [(ngModel)]="data.AUTH_CODE" [disabled]="data.INSPECT!">
      </mat-form-field>
      &nbsp;
      <mat-form-field [style.width.%]="20">
        <input type="text" matInput autocomplete="off" placeholder="Yuvarlama Tabanı" [(ngModel)]="data.ROUND_BASE" [disabled]="data.INSPECT!">
      </mat-form-field>
      &nbsp;
      <mat-form-field [style.width.%]="20">
        <mat-select [(value)]="data.RECORD_STATUS" [disabled]="data.INSPECT!">
          <mat-option value=0>
            Kullanımda
          </mat-option>
          <mat-option value=0>
            Kullanım Dışı
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field [style.width.%]="25">
        <input type="text" matInput autocomplete="off" placeholder="KDV Oranı" [(ngModel)]="data.VAT_PERC" [disabled]="data.INSPECT!">
      </mat-form-field>
      &nbsp;
      <mat-form-field [style.width.%]="25">
        <input type="text" matInput autocomplete="off" placeholder="Birim" [(ngModel)]="data.UNIT" [disabled]="data.INSPECT!">
      </mat-form-field>
      &nbsp;
      <mat-checkbox [(ngModel)]="isRateChangable" [disabled]="data.INSPECT!">
        Tutar/Oran Değiştirilebilir
      </mat-checkbox>
      <br>
      <mat-form-field [style.width.%]="80">
        <input type="text" matInput autocomplete="off" placeholder="Formül" [(ngModel)]="data.FORMULA" [disabled]="data.INSPECT!">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button cdkFocusInitial (click)="update()" [disabled]="data.INSPECT!">
    Güncelle
  </button>
  <button mat-stroked-button [mat-dialog-close] >
    Vazgeç
  </button>
</div>