.container{
    width: 100%;
    height: 90%

}

.mat-dialog-content {
    height: 95%;
    width: 100%;
    overflow-x: hidden;
}

.mat-dialog-actions {
    height: 5%;
}

.bold {
    font-weight: bold;
    color: purple;
}

.act{
    background-color: #ebebeb;
}

a.Btn{
    width: auto;
    height: auto;
    margin-right: 3px;
    user-select: none;
    mat-icon{
      color: purple;
    }
    mat-icon:hover{
      color: blue;
    }
  }