<div class="row" *ngIf="menuActive">
  <div class="col-md-12 mt-3" style="text-align: center;">
    <h1><b>Satınalma</b></h1>
  </div>
</div>
<div class="container" *ngIf="menuActive">
  <div class="col-md-12">
    <div class="row ml-3 mb-1">
      <h2>Ana Kayıtlar</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="row m-3 p-3">
      <button class="menu-item" mat-raised-button color="primary" routerLink="alinan-hizmetler">Alınan Hizmetler</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="odeme-tahsilat-planlari">Ödeme-Tahsilat Planları</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satinalma-indirimleri">Satınalma İndirimleri</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satinalma-masraflari">Satınalma Masrafları</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="hizmet-alim-fiyatlari">Hizmet Alım Fiyatları</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satinalma-kampanyalari">Satınalma Kampanyaları</button>
    </div>
    <div class="row ml-3 mb-1">
      <h2>Hareketler</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="row m-3 p-3">
      <button class="menu-item" mat-raised-button color="primary" routerLink="satinalma-siparisleri">Satınalma Siparişleri</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satinalma-irsaliyeleri">Satınalma İrsaliyeleri</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satinalma-faturalari">Satınalma Faturaları</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>