<div class="row" *ngIf="menuActive">
  <div class="col-md-12 mt-3" style="text-align: center;">
    <h1><b>Satış ve Dağıtım</b></h1>
  </div>
</div>
<div class="container" *ngIf="menuActive">
  <div class="col-md-12">
    <div class="row ml-3 mb-1">
      <h2>Ana Kayıtlar</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="row m-3 p-3">
      <button class="menu-item" mat-raised-button color="primary" routerLink="verilen-hizmetler">Verilen Hizmetler</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satis-indirimleri">Satış İndirimleri</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satis-masraflari">Satış Masrafları</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="malzeme-satis-fiyatlari">Malzeme Satış Fiyatları</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="hizmet-satis-fiyatlari">Hizmet Satış Fiyatları</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="dagitim-araclari">Dağıtım Araçları</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="dagitim-rotalari">Dağıtım Rotaları</button>
    </div>
    <div class="row ml-3 mb-1">
      <h2>Hareketler</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="row m-3 p-3">
      <button class="menu-item" mat-raised-button color="primary" routerLink="satis-siparisleri">Satış Siparişleri</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satis-irsaliyeleri">Satış İrsaliyeleri</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="satis-faturalari">Satış Faturaları</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>