.sidenav{
    height: 100%;
    width: 100%;
}
.sidenavMenu{
    height: 100%;
    width: 20%;
}

app-navbar{
    height: 5%;
    width: 100%;
}

app-footer{
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

mat-sidenav-content{
    background-image: url('../../../assets/default.jpg');
    width: 100vw;
    overflow-x: hidden;
}

.active{
   background-color: #2c3647;
}
.container{
    width: 100%;
    height: 100%;
}
.menu-item{
    border-radius: 1rem;
    height: 200px;
    width: 100%;
    margin-top: 50px;
    font-size: 130%;
    text-align:center;
    position: relative;
    word-wrap: normal;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    background: rgb(122,105,214);
    background: linear-gradient(180deg, rgba(122,105,214,0.9424720571822479) 0%, rgba(75,60,152,0.9424720571822479) 100%);
}
.menu-item:hover{
    background: linear-gradient(180deg, rgba(122,105,214,0.9424720571822479) 0%, rgba(75,60,152,0.9424720571822479) 80%);
}

h1{
    font-size: 300%;
}

