.container {
    width: 90vw;
    height: 80vh;
}

.spinner {
    vertical-align: middle;
    margin: auto;
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

tr {
    height: 25px;
    user-select: none;
}
thead {
    height: 10%;
    user-select: none;
    text-align: center;
}

.table-content {
    width: 100%;
    height: 93%;
    overflow-y: scroll;
    user-select: none;
    text-align: center;
    display: inline-block;
}

tfoot {
    height: 7%;
    position: absolute;
    bottom: 0;
    left: 1;
}

.act {
    background-color: #ebebeb;
    //#d9dbda;
}

ng-container {
    margin-right: auto;
    margin-left: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    height: 93%;
    overflow-x: auto;
    overflow-y: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row{
      height: 6.5vh
    }
    .mat-row:hover{
      background-color: #ebebeb;
    };
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        text-align: center;
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }

  ng-content {
      position: sticky;
  }

  
  .footerContainer {
    width: 100%;
    display: inline-block;
    height: 7%;
    position: absolute;
    bottom: 0;
    left: 1;
  }

  .footerElement {
    vertical-align: middle;
  }



  a.iconBtns{
    width: auto;
    height: auto;
    margin-right: 3px;
    user-select: none;
    mat-icon{
      color: purple;
    }
    mat-icon:hover{
      color: blue;
    }
  }

  a.paginationBtns {
    width: auto;
    height: auto;
    margin-right: 25px;
    user-select: none;
    mat-icon{
      color: purple;
    }
    mat-icon:hover{
      color: blue;
    }
    mat-icon:active{
      color: darkblue;

    }
  }

  .wrapper {
    overflow: hidden;
    height: 100%;
  }

  app-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    vertical-align: middle;
  }

  @media screen and (max-width:1350px) {
    .container{
      width: 100vw;
      height: calc(90vh - 38px)
    }

    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      border-radius: 3em;
    }
    ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    ::-webkit-scrollbar-thumb {
      background: #673ab7;
      border: 9px none #ffffff;
      border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #673ac8;
    }
    ::-webkit-scrollbar-thumb:active {
      background: #673ac8;
    }
    ::-webkit-scrollbar-track {
      background: #c5c3c3;
      border: 21px none #ffffff;
      border-radius: 50px;
    }
    ::-webkit-scrollbar-track:hover {
      background: #c5c3c3;
    }
    ::-webkit-scrollbar-track:active {
      background: #c5c3c3;
    }
    ::-webkit-scrollbar-corner {
      background: transparent;
    }
  }