<div class="row">
  <div class="col-md-12 mt-3" style="text-align: center;">
    <h1><b>Finans</b></h1>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="row ml-3 mb-1">
      <h2>Ana Kayıtlar</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="row m-3 p-3">
      <button class="menu-item" mat-raised-button color="primary">Cari Hesaplar</button>
      <button class="menu-item" mat-raised-button color="primary">Ödeme-Tahsilat Planları</button>
      <button class="menu-item" mat-raised-button color="primary">Çek-Senetler</button>
      <button class="menu-item" mat-raised-button color="primary" routerLink="/banka">Bankalar</button>
      <button class="menu-item" mat-raised-button color="primary">Kasalar</button>
    </div>
    <div class="row ml-3 mb-1">
      <h2>Hareketler</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="row m-3 p-3">
      <button class="menu-item" mat-raised-button color="primary">Cari Hesap Fişleri</button>
      <button class="menu-item" mat-raised-button color="primary">Çek-Senet Bordroları</button>
      <button class="menu-item" mat-raised-button color="primary">Banka Fişleri </button>
      <button class="menu-item" mat-raised-button color="primary">Kasa İşlemleri </button>
    </div>
  </div>
</div>