<h2 mat-dialog-title>Malzeme Detayları</h2>
<div class="container">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field style="width: 80%;">
                    <mat-label>Kodu</mat-label>
                    <input matInput type="text" autocomplete="off"  [(ngModel)]="newItem.CODE"
                        [ngModelOptions]="{standalone:true}" 
                        matTooltip="Otomatik numara vermek için bu alanı boş bırakın">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field style="width: 80%;">
                    <mat-label>Açıklaması</mat-label>
                    <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.NAME"
                        [ngModelOptions]="{standalone:true}"> 
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field style="width: 80%;">
                    <mat-label>Açıklaması 2</mat-label>
                    <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.NAME2"
                        [ngModelOptions]="{standalone:true}"> 
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field style="width: 80%;">
                    <mat-label>Açıklaması 3</mat-label>
                    <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.NAME3"
                        [ngModelOptions]="{standalone:true}"> 
                </mat-form-field>
            </div>
        </div>

        <mat-divider></mat-divider>

        <mat-tab-group dynamicHeight>
            <mat-tab label="Genel Bilgiler">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Özel Kodu</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.AUXIL_CODE"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Yetki Kodu</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.AUTH_CODE"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Grup Kodu</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.GROUP_CODE"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field> 
                        <br>
                        <mat-form-field>
                            <mat-label>Üretici Kodu</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.PRODUCER_CODE"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Özel Kod2</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.AUXIL_CODE2"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Özel Kod3</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.AUXIL_CODE3"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Özel Kod4</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.AUXIL_CODE4"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Özel Kod5</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.AUXIL_CODE5"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>

                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Ödeme Şekli</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.PAYMENT_CODE"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Ek Vergi Kodu</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.ADD_TAX_CODE"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Statüsü</mat-label>
                            <mat-select [value]="newItem.RECORD_STATUS.toLocaleString()"  >
                                <mat-option value="0" (click)="newItem.RECORD_STATUS = 0">Kullanımda</mat-option>
                                <mat-option value="1" (click)="newItem.RECORD_STATUS = 0">Kullanım Dışı</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <span style="font-weight: bold;width: 100%; text-align: center;">KDV Oranları</span>
                        <br>
                        <mat-form-field>
                            <mat-label>Satınalma</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.VAT"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Satış</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.SELVAT"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>İade</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.RETURNVAT"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Perakende Satış</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.SELPRVAT"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Perakende İade</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.RETURNPRVAT"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="İzleme ve Sıralama">
                <div class="row">
                    <div class="col-md-3 ml-2">
                        <span style="font-weight: bold;">İzleme Yöntemi</span>
                        <br>
                        <mat-radio-group  [value]="newItem.TRACK_TYPE.toLocaleString()"  color="primary" >
                            <mat-radio-button value="0">İzleme Yapılmayacak</mat-radio-button>
                            <br>
                            <mat-radio-button value="1">Lot (Parti) Numarası</mat-radio-button>
                            <br>
                            <mat-radio-button value="2">Seri Numarası</mat-radio-button>
                            <br>
                            <mat-radio-button value="3">Seri Grubu</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-md-6">
                        <span style="font-weight: bold;">Öneri Gerçekleştirme Penceresi</span>
                        <br>
                        <mat-form-field>
                            <mat-label>Sıralama Kodu 1</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.DEMAND_MEET_SORT_FLD1"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Sıralama Kodu 2</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.DEMAND_MEET_SORT_FLD2"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Sıralama Kodu 3</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.DEMAND_MEET_SORT_FLD3"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Sıralama Kodu 4</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.DEMAND_MEET_SORT_FLD4"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Sıralama Kodu 5</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.DEMAND_MEET_SORT_FLD5"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Birimler">
                <span>Birim Seti</span>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-label>Kodu</mat-label>
                            <input matInput type="text" [matAutocomplete]="unitSetAC"
                                  [(ngModel)]="newItem.UNITSET_CODE" [ngModelOptions]="{standalone:true}" >
                            <mat-autocomplete #unitSetAC="matAutocomplete" disabled="true">
                                <mat-option *ngFor="let unitSet of unitSetAutocomplete"
                                    (click)="selectUnitSet(unitSet)">
                                    {{unitSet}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field class="ml-2">
                            <mat-label>Açıklaması</mat-label>
                            <input matInput type="text"   [(ngModel)]="currentUnitSet.DESCRIPTION" disabled="true">
                        </mat-form-field>
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Birimler</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let unit of units" (click)="this.selectedUnit = unit" [ngClass]="{bold:unit.MAIN_UNIT==1}" [ngClass]="{act:unit.NAME==selectedUnit.NAME}">
                                    <td>
                                        {{unit.NAME}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <mat-divider [vertical]="true"></mat-divider>
                    </div>
                    <div class="col-md-7">
                        <mat-divider [vertical]="true"></mat-divider>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Birim Kodu</mat-label>
                                <input matInput type="text" autocomplete="off" [ngModel]="selectedUnit.CODE" disabled="true">
                            </mat-form-field>

                            <mat-form-field class="ml-2">
                                <mat-label>Birim Açıklaması</mat-label>
                                <input matInput type="text" autocomplete="off" [ngModel]="selectedUnit.NAME" disabled="true">
                            </mat-form-field>

                            <mat-form-field class="ml-1">
                                <mat-label>Evrensel Kodu</mat-label>
                                <input matInput type="text"   [(ngModel)]="selectedUnit.GLOBAL_CODE" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="row">
                                <br>
                                <mat-form-field>
                                    <mat-label>{{selectedUnit.NAME}}</mat-label>
                                    <input matInput type="text" autocomplete="off" [ngModel]="selectedUnit.CONV_FACT1" disabled="true">
                                </mat-form-field>
                                =
                                <mat-form-field class="ml-2">
                                    <mat-label>{{units[0].NAME}}</mat-label>
                                    <input matInput type="text" autocomplete="off" [ngModel]="selectedUnit.CONV_FACT2" disabled="true">
                                </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Dış Ticaret Bilgileri">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                            <mat-label>GTIP Kodu</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.GTIPCODE"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Vergi Oranı 1</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.EXIM_TAX1"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Vergi Oranı 2</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.EXIM_TAX2"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Vergi Oranı 3</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.EXIM_TAX3"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Vergi Oranı 4</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.EXIM_TAX4"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Vergi Oranı 5</mat-label>
                            <input matInput type="text" autocomplete="off"   [(ngModel)]="newItem.EXIM_TAX5"
                                [ngModelOptions]="{standalone:true}"> 
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-stroked-button cdkFocusInitial (click)="save()"  >Kaydet</button>
    <button mat-stroked-button [mat-dialog-close]>İptal</button>
</mat-dialog-actions>