/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Style required for Toastr*/
@import '~ngx-toastr/toastr-bs4-alert';



::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 3em;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #673ab7;
    border: 9px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #673ac8;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #673ac8;
  }
  ::-webkit-scrollbar-track {
    background: #c5c3c3;
    border: 21px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #c5c3c3;
  }
  ::-webkit-scrollbar-track:active {
    background: #c5c3c3;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
